# Ignore data/output folders
output/
filtered_output/
output_full_fos/
output_filtered/
public/data/nodes.jsonl
public/data/edges.jsonl
data/
# Node/Next.js
node_modules/
/.pnp
.pnp.js
/.next/
/out/
/build
.vercel

# Python stuff
__pycache__/
*.pyc
.env
.venv
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
